<body>
  <nav class="navbar navbar-expand-lg" style="border-radius: 10px;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;">Crud</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Cadastrar</a>
          <a class="nav-link" [routerLink]="['/listCliente']">Listar</a>
        </div>
      </div>
    </div>
  </nav>

  <div style="margin-top: 4%; margin-bottom: 2%; margin-left: 40%;">
    <h1>Deletar Cliente</h1>
  </div>

  <div class="row g-3 align-items-center" style="margin-left: 10%;">
    <div class="col-auto" style="width: 38%;">
      <label >Nome completo</label>
      <input [(ngModel)]="cliente.nome" required="true" minlength="3" maxlength="100" name="nomeComp" type="text" class="form-control" id="nomeComp" [disabled] = "true"/>
    </div>
    <div class="col-auto" style="width: 15%;">
      <label >Nº CPF</label>
      <input [(ngModel)]="cliente.cpf" placeholder="000.000.000-000" mask="CPF_CNPJ" type="text" class="form-control" id="cpf" [disabled] = "true"/>
    </div>
    <div class="col-auto" style="width: 25%;">
      <label >E-mail</label>
      <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control" id="email" [disabled] = "true"/>
    </div>
        <div class="col-auto" style="width: 12%;">
          <label for="inputState">Tipo Telefone</label>
          <select [(ngModel)]="cliente.tipoTelefone" name="tipoTelefone" id="inputState" class="form-control" [disabled] = "true">
            <option selected>Selecione</option>
            <option value="COMERCIAL">Comercial</option>
            <option value="RESIDENCIAL">Residencial</option>
            <option value="CELULAR">Celular</option>
          </select>
        </div>
    <div class="col-auto" style="width: 15%;">
      <label >Nº telefone</label>
      <input [(ngModel)]="cliente.telefone" placeholder="(00) 00000-0000" [dropSpecialCharacters]="false" prefix="+55 " mask="(00) 00000-0000"
        type="text" class="form-control" id="telefone" name="telefone" [disabled] = "true"/>
    </div>
  </div>

  <div class="divH1Endereco">
    <h1>Endereço</h1>
  </div>

  <div class="endereco">
    <div class="row g-3 align-items-center" style="margin-left: 10%;">
      <div class="col-auto" style="width: 30%;">
        <label for="inputNomeVeiculo">Endereço</label>
        <input [(ngModel)]="cliente.logradouro" type="text" class="form-control" id="endereco" [disabled] = "true"/>
      </div>
      <div class="col-auto" style="width: 15%;">
        <label for="inputPassword4">Nº CEP</label>
        <input [(ngModel)]="cliente.cep" [dropSpecialCharacters]="false" mask="00.000-000" placeholder="00.000-000" type="text"
          class="form-control" id="cep" [disabled] = "true"/>
      </div>
      <div class="col-auto" style="width: 10%;">
        <label for="inputPassword4">Nº residência</label>
        <input [(ngModel)]="cliente.numero" [dropSpecialCharacters]="false" mask="00000" placeholder="0000" type="text" class="form-control"
        [disabled] = "true" id="numResidencia" />
      </div>
      <div class="col-auto">
        <label for="inputPassword4">Complemento</label>
        <input [(ngModel)]="cliente.complemento" type="text" class="form-control" id="complemento" [disabled] = "true"/>
      </div>
      <div class="col-auto" style="width: 15%;">
        <label for="inputPassword4" >Bairro</label>
        <input [(ngModel)]="cliente.bairro" type="text" class="form-control" id="bairro" [disabled] = "true"/>
      </div>
      <div class="col-auto">
        <label for="inputPassword4">Cidade</label>
        <input  [(ngModel)]="cliente.cidade" type="text" class="form-control" id="cidade" [disabled] = "true"/>
      </div>
      <div class="col-auto">
        <label for="inputPassword4">UF</label>
        <input [(ngModel)]="cliente.uf" type="text" class="form-control" id="uf" [disabled] = "true"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-6">
      </div>
      <div class="col-2">
        <div class="divBotoes">
          <button [routerLink]="['../../']" routerLinkActive="router-link-active"  type="submit" class="btnCancelar">Cancelar</button>
          <button (click)="delete()" class="btnLimpar" >Deletar</button>
        </div>
      </div>
    </div>
  </div>
</body>

